<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
</head>
<body>
<form method="post">
    name <input type="text" name="name"/><br/>
    surName <input type="text" name="surName"/><br/>
    street <input type="text" name="street"/><br/>
    number <input type="text" name="number"/><br/>
    zipCode <input type="text" name="zipCode"/><br/>
    city <input type="text" name="city"/><br/>
    country <input type="text" name="country"/><br/>
    <input type="Submit" value="Save Address"/>
</form>
</body>
</html>