<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addressDetail</title>
</head>
<body>
    <div th:text="${address.name}">Name</div>
    <div th:text="${address.surName}">SurName</div>
    <div th:text="${address.street}">Street</div>
    <div th:text="${address.number}">Number</div>
    <div th:text="${address.zipCode}">ZipCode</div>
    <div th:text="${address.city}">City</div>
    <div th:text="${address.country}">Country</div>
</body>
</html>