<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<form th:each="product,status : ${products}">
    <input type="text" name="productField" th:value="${product}"/>
    <input type="hidden" name="productIndex" th:value="${status.index}">
    <input type="submit" value="del" formmethod="post" name="action"/>
    <input type="submit" value="change" formmethod="post" name="action"/>
</form>
<form>
    <input type="text" name="newProduct"/>
    <input type="submit" value="add" name="add" formmethod="post">
</form>
</body>
</html>